build/
src/linkedList/linkedList.struct.h
src/linkedList/dequoid.struct.h
src/linkedList/visitor_t.typedef.h
src/linkedList/alloc_copy_visitor.h
src/linkedList/alloc_copy_visitor.c
src/linkedList/free_visitor_copy.h
src/linkedList/free_visitor_copy.c
src/linkedList/apply_visitor.h
src/linkedList/apply_visitor.c
src/linkedList/traverse_linked_list.h
src/linkedList/traverse_linked_list.c
src/linkedList/clean_and_free_list.h
src/linkedList/clean_and_free_list.c
src/linkedList/visit_matcher.h
src/linkedList/visit_matcher.c
src/linkedList/first_matching.h
src/linkedList/first_matching.c
src/linkedList/match_last.h
src/linkedList/match_last.c
src/linkedList/last_node.h
src/linkedList/last_node.c
src/linkedList/append.h
src/linkedList/append.c
src/linkedList/popEmptyFreeing.linkedList.h
src/linkedList/popEmptyFreeing.linkedList.c
src/linkedList/removeMiddleEmptiesFreeing.linkedList.h
src/linkedList/removeMiddleEmptiesFreeing.linkedList.c
src/linkedList/init.dequoid.h
src/linkedList/init.dequoid.c
